.title {
  position: absolute;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-top: 29px;
  margin-left: 34px;
  width: 147px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
}

.tooltip {
  width: 39px;
  height: 25px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  .tooltip-text {
    font-weight: 500;
    font-size: 8px;
  }
}
