.title {
  position: absolute;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-top: 29px;
  margin-left: 34px;
  width: 147px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
}
