.container {
  display: flex;
  .container-right {
    display: flex;
    flex-direction: column;
  }
}

.greeting-text {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
  margin-block-start: unset;
  margin-block-end: unset;
}

.firstname-text {
  color: #ff0101;
  font-style: normal;
}

.congratulation-text {
  font-weight: 400;
  font-size: 18px;
  margin-top: 31px;
  margin-bottom: 77px;
}

.barchart-container {
  width: 835px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin-bottom: 30px;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  .container-linechart {
    position: relative;
    width: 258px;
    height: 263px;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-direction: column;
  }
  .container-radarchart {
    width: 258px;
    height: 263px;
    background-color: #282d30;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .container-piechart {
    position: relative;
    width: 258px;
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fbfbfb;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    .container-right {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
